li{
	display: inline;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
}
ul{
	padding-top: 13px;
	text-align: right;
}
a{
	padding: 13px;
	color: #000080;
	text-decoration: none;
	transition: font-size 0.5s;
}
li a:hover{
	font-size: 25px;
}